@charset "utf-8";
@import "CCS/common/common";
img{
	margin:0;
	padding:0;
}
#easySlide{
	$globalWidth:100%;
	$globalHeight:900px;
	
	overflow:hidden;
	.slideItem{
		position:absolute;
		
		width:$globalWidth;
		img{
			width:100%;
		}
	}
	$pnWidth:50px;
	$pnHeight:200px;
	%pn{
		width:$pnWidth;
		height:$pnHeight;
		cursor: pointer;
		background:red;
		position:absolute;
		top:50%;

	}
	.prev{
		@extend %pn;
		left:0;
		
		margin-top:-$pnHeight/2;
	}
	.next{
		@extend %pn;

		margin-top:-$pnHeight/2;
		right:0;
	}

	// 轮播条目
	.navigator{
		position:absolute;
		bottom:10%;
		left:50%;

		ul{
			@include inline-block;
			@extend %clearfix;
			li{
				float:left;
				margin-right:2em;
				a{
					@include inline-block;
					width:10px;
					height:10px;
					background:green;
					cursor: pointer;
					&:hover,&.hover{
						background:yellow;
					}
				}
			}
		}
	}
	// 垂直轮播条目
	.vNavigator{
		position:absolute;
		z-index: 1000;
		right:100px;
		top:50%;
		ul{
			li{
				margin-bottom: 10px;
				a{
					@include inline-block;
					width:10px;
					height:10px;
					background:green;
					cursor: pointer;
					&:hover,&.hover{
						background:yellow;
					}
				}
				
			}
		}
	}
}